.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f6f6f8;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 50%;
  box-shadow: 11px 12px 13px 12px rgb(109, 106, 106);
  padding-top: 30px;
  border-radius: 10px;
  background-color: rgb(217, 221, 217);
}

input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

form-inputs {
  padding-top: 20px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #c4b948;
  color: white;
  font-size: 25px;
  border: none;
}
