.inventory {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-rows: 100%; */
    text-align: center;
    padding: 15px;
}

.fridgeCard {
    margin: 5px;
    grid-column: 1/2;
    border: solid 1px black;
    border-radius: 4px;
}

.freezerCard {
    margin: 5px;
    grid-column: 2/3;
    border: solid 1px black;
    border-radius: 4px;
}

.cupboardCard {
    margin: 5px;
    grid-column: 3/4;
    border: solid 1px black;
    border-radius: 4px;
}

.spiceRackCard {
    margin: 5px;
    grid-column: 4/5;
    border: solid 1px black;
    border-radius: 4px;
}