.searchInput {
    width: 100%;
    margin: 10px;
}

.searchButton {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    border: none; 
    background-color: rgb(92, 188, 92);
    height: 25px;
    color: white;
    border-radius: 5%;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    line-height: 25px;
}