.navbarlogo {
    height: 65px;
    width: auto;
    border-radius: 15px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(92, 188, 92);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
  }

  .navbar-links {
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in;
    font-weight: bold;
  }

  .navbar-links:hover {
    text-decoration: underline solid white;
  }