.navbarlogo {
    height: 65px;
    width: auto;
    border-radius: 15px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(192, 126, 126);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
  }

  .navbar-links {
    display: inline-block;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: white
  }