.signin-link {
    display: inline-block;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: rgb(43, 138, 31);
    border-radius: 15px;
  }

  .signup-link {
    display: inline-block;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: rgb(182, 214, 65);
    border-radius: 15px;
  }